<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'base.html' %}
{% block title %}- Registration{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 panel panel-default">
        <div class="alert alert-info">This is your information.</div>
        <form action="" method="post">
            {{form.as_p}}
            {% csrf_token %}
            <a class="btn btn-info" href="/">Move to main</a>
        </form>
    </div>
    <div class="col-md-2"></div>
</div>
{% endblock %}

</body>
</html>